* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.box {
    min-height: 500px;
    width: 450px;
    border-radius: 12px;
    background: #1E90FF;
}

.inputFeild,
.btn {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;

}

.btn {
    cursor: pointer;
    font-weight: bolder;
}

.input {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.input h1 {
    color: brown;
}

.cloud-icon img {
    height: 100px;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.location img {
    height: 100px;
    width: 100px;
}

.temprature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 30px;

}

.temprature h2 {
    color: #fff;
}

.tiem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.degree-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    color: #fff;
    font-weight: bolder;
}

.degree-part {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.region {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    color: yellow;

}